@model Logs.Models.TblAccidente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblAccidente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadHeridos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadHeridos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadFallecidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadFallecidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadVehiculos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadVehiculos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAccidente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAccidente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoRegistro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geolocalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geolocalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
